@import url('https://fonts.googleapis.com/css2?family=Alata&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    scroll-behavior: smooth;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--accent: #198754;
	--light-accent: #E0F2E5;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow:#198754;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

body {
    overflow-x: hidden;
    background: #FFFFFF;
    font-family: "Rubik", sans-serif;
    /* font-weight: 100 !important; */
}
* {
    box-sizing: border-box;
}
.wow {
    animation-duration: 1.5s !important;
    /* animation-delay: 1s !important; */
}
.select2-selection__rendered {
    line-height: 51px !important;
}
.select2-container .select2-selection--single {
    height: 51px !important;
}
.select2-selection__arrow {
    height: 51px !important;
}
.btn.bg-ac:hover, .btn.bg-sc:hover {
    background-color: var(--accent) !important;
    color: var(--light) !important;
}
/* h1 {
    font-size: 1.2em;
} */
h0 {
    font-size: 1.5em;
}

.bg-pm {
    background: #ffffff;
}
.bg-sc {
    background: #E0F2E5;
}
.bg-sc-2 {
    background: rgba(243,168,27,.2);
}
.bg-ac {
    background: var(--accent);
}
.bg-success {
    background-color: #2F8D47 !important;
}
.color-pm {
    color: #FFFFFF;
}
/* .color-sc {
    color:;
} */
.color-ac {
    color: var(--accent);
}
.btn-ac {
    background: var(--accent);
    color: white;
    text-decoration: none;
}
.container {
    padding-inline: 25px;
}
/* indramedia color
- blue #0A69A7 rgba(10,105,167)
- red #F24406 rgba(242,68,6)
- yellow #F3A81B var(--accent)
- green #2F8D47 rgba(47,141,71) */
/* navbar style */
.navbar {
    /*  background: rgba(225,225,225,.1);*/
    backdrop-filter: blur(5px);
    z-index: 1000;
    transition: all 1s ease;
    padding-block: 15px !important;
}
.img-brand-nav {
    width: 150px;
    transition: all 1s ease;
}
.navbar-toggler {
    border: 0;
}
.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus {
    box-shadow: 0 0 0;
}
.navbar-toggler span {
    color: white;
    font-size: 1.5em;
}
.nav-link {}
.active {
    font-weight: 800;
}
.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus {
    color: white;
    background: var(--accent);
}

/* landing page home style */
.hero {
    width: 100%;
    height: 600px;
}
.fh-page {
    width: 100%;
    height: auto;
}
.fw-b {
    font-weight: 1000;
}
.contain-header-home {
    padding-top: 100px;
}
.content-header-1 img {
    width: 300px;
    mix-blend-mode: multiply;
}
.btn-home {
    /* border: 1px solid #FFFFFF; */
    background: var(--accent);
    color: var(--light);
}
.btn-home-outline {
    border: 1px solid #FFFFFF;
    background: transparent;
    color: #FFFFFF;
    transition: all .3s ease;
}
.btn-home-outline:hover {
    background: #FFFFFF;
    color: #000000;
}
.section-value span {
    font-size: 1.5em;
}
.box-jobs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 300px;
    background: rgba(243,168,27,.1);
    /*box-shadow: 0 0 10px rgba(0,0,0,.1);*/
}
.box-jobs img {
    width: 100px;
}
.hr-text {
    width: 50px;
    height: 1px;
    background: rgba(243,168,27,1);
}
.box-product {
    width: 150px;
    /*  height: 200px;*/
    height: auto;
    padding-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.box-product-img {
    width: 100%;
    height: 100%;
    transition: all .3s ease;
    object-fit: cover;
}
.box-product-img:hover {
    transform: scale(1.2);
}
.contain-img-produk {
    overflow: hidden;
    height: 130px;
}
.box-product-price {
    /* color: rgba(243,168,27,1); */
    font-size: 18px;
    text-wrap: nowrap;
}
.box-product-price-slash {
    /* color: rgba(243,168,27,1); */
    font-size: 11px;
    text-wrap: nowrap;
}
.box-product-star span {
    font-size: 10px;
}
.box-product-title {
    font-size: 15px;
}
.contain-artikel-display {}
.box-artikel-home {
    width: 300px;
    height: 310px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.box-artikel-home-img {
    width: 100%;
    height: 230px;
}
.desc-short-blog {
    overflow: hidden;
    line-height: 20px;
    height: 40px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.btn-sort {
    background: rgba(243,168,27,1);
}
.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    transition: all .6s ease;
    z-index: 10000;
    opacity: 0;
    background: rgba(243,168,27,1);
    color: white;
}
.img-checkout {
    width: 100px;
}

/* artikel page style */
.box-artikel {
    width: 300px;
    height: 3000px;
    background: #ffffff;
    overflow: hidden;
}
.box-artikel div {
    width: 100%;
    height: 200px;
}
.box-artikel div img {
    width: 100%;
    height: 100%;
    transition: all .3s ease;
}
.box-artikel div img:hover {
    transform: scale(1.2);
}
.box-artikel p {
    font-size: 12px;
}
.box-artikel .box-supporter {
    font-size: 14px;
    width: auto; 
    margin: 0;
}
/* responsive style */
@media screen and (max-width: 300px) {}
@media screen and (max-width: 700px) {
    .contain-header-home {
        flex-direction: column;
    }
    .content-header-1 img {
        margin-left: -30px;
    }
    .btn-home, .btn-home-outline {
        font-size: 13px;
        text-wrap: nowrap;
        margin-bottom: 0;
    }
    .wrap-sm {
        flex-wrap: wrap;
    }
    .mt-sm-2 {
        margin-top: 10px;
    }
    .w-sm-100 {
        width: 100% !important;
    }
    .search-home {
        width: 45% !important;
    }
}

/* about page style */
.contain-img-about , .contain-img-produk-detail {
    width: 90%;
    height: 250px;
    overflow: hidden;
}
.contain-img-about img {
    width: 100%;
    height: 100%;
}

/* contact us page style */
.contain-map-contact {
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.contain-map-contact iframe {
    width: 100%;
    height: 100%;
}

/* produk detail page style */
.contain-img-produk-detail {
    width: 230px !important;
    height: auto;
    overflow: hidden;
}
.contain-head-detail-product {
    flex-direction: column;
}
.contain-head-detail-product .w-sub-detail {
    width: 100%;
}
/* order detail style  */
.contain-line-progress {
    flex-direction: row;
}
.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
}

.timeline-item {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.timeline-line {
    width: 2px;
    height: 2rem;
    background-color: #007bff;
    margin-left: 11px;
}

.timeline-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #007bff;
    position: relative;
}

.timeline-circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}

.timeline-text {
    display: flex;
    flex-direction: column;
}

.timeline-text h4 {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.timeline-text span {
    font-size: 0.85rem;
    color: #888;
}
.img-item-ordered {
    width: 100px !important;
}
@media (min-width: 768px) {
    .timeline-container {
        flex-direction: row;
        align-items: center;
    }

    .timeline-line {
        width: 2rem;
        height: 2px;
        margin: 0;
    }
    .contain-img-about {
        width: 800px !important;
        height: 300px;
        object-fit: cover;
        overflow: hidden;
    }
    .contain-img-produk-detail {
        width: auto !important;
        height: auto;
        object-fit: cover;
        overflow: hidden;
    }
    .contain-head-detail-product {
        flex-direction: row;
    }
}


@media screen and (min-width: 700px) {
    h0 {
        font-size: 2.5em;
    }
    p {
        font-size: 1em;
    }
    .navbar-collapse {
        position: absolute;
        right: 20px;
    }
    .hero {
        height: 600px;
    }
    .contain-header-home {
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-top: 0;
        flex-direction: row-reverse;
    }
    .content-header-1, .content-header-2 {
        width: 50%;
    }
    .content-header-1 {
        align-items: center;
        justify-content: end;
        display: flex;
    }
    .content-header-1 img {
        width: 500px;
    }
    .box-product {
        width: 225px;
    }
    .box-product-img {
        height: 200px;
        margin-bottom: 5px;
    }
    .contain-img-produk {
        height: 200px;
    }
    .box-artikel {
        width: 300px;
        height: 350px;
    }
    .box-artikel div {
        height: 250px;
    }
    .contain-line-progress {
        flex-direction: column;
    }
}

/* auth styles  */
.box-auth {
    width: 350px !important;
    height: auto;
    padding-block: 20px;
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

@media screen and (max-width: 700px) {
    .box-auth {
        width: 90%;
    }
}